.carousel-container {
  position: relative;
}

.carousel-number {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  top: 90%;
  color: rgb(86, 85, 85);
  font-size: small;
}

.carousel-buttons {
  display: flex;
  gap: 8em;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  top: 50%;
}

.carousel-button {
  border-radius: 50%;
  background: rgb(190, 190, 190);
  opacity: 50%;
  color: black;
  padding: 5px;
}

@media (min-width: 480px) {
  .carousel-buttons {
    gap: 9em;
  }
  .carousel-button {
    padding: 8px;
  }
}
@media (min-width: 800px) {
  .carousel-buttons {
    gap: 15vw;
  }
  .carousel-button {
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .carousel-buttons {
    gap: 10em;
  }
}

@media (min-width: 1154px) {
  .carousel-buttons {
    gap: 12em;
  }
}
